In [6]:
import pandas as pd

data = './data/skt_m/16년_06월.csv'
df1 = pd.read_csv(data)

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49306 entries, 0 to 49305
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구분        49306 non-null  object
 1   년         49306 non-null  int64
 2   월         49306 non-null  int64
 3   일         49306 non-null  int64
 4   요일        49306 non-null  object
 5   지역-시도     49306 non-null  object
 6   지역-시군구    49306 non-null  object
 7   지역-읍면동    49306 non-null  object
 8   성별        49306 non-null  object
 9   연령대       49306 non-null  object
 10  이용_비율(%)  49306 non-null  float64
dtypes: float64(1), int64(3), object(7)
memory usage: 4.1+ MB

In [7]:
df1.head()

    구분     년  월  일 요일 지역-시도 지역-시군구 지역-읍면동 성별  연령대  이용_비율(%)
0  영화관  2016  6  1  수   강원도    춘천시    퇴계동  여  20대   0.00113
1  영화관  2016  6  1  수   강원도    동해시    천곡동  남  30대   0.00068
2  영화관  2016  6  1  수   강원도    원주시    단계동  남  50대   0.00056
3  영화관  2016  6  1  수   강원도    동해시    천곡동  남  40대   0.00023
4  영화관  2016  6  1  수   강원도    강릉시    성남동  여  20대   0.00045

In [8]:
df1.columns

Index(['구분', '년', '월', '일', '요일', '지역-시도', '지역-시군구', '지역-읍면동', '성별', '연령대',
       '이용_비율(%)'],
      dtype='object')

In [12]:
df2 = df1[['구분', '년', '월', '일', '요일', '연령대', '이용_비율(%)']]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49306 entries, 0 to 49305
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구분        49306 non-null  object
 1   년         49306 non-null  int64
 2   월         49306 non-null  int64
 3   일         49306 non-null  int64
 4   요일        49306 non-null  object
 5   연령대       49306 non-null  object
 6   이용_비율(%)  49306 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.6+ MB

In [13]:
df2.head()

    구분     년  월  일 요일  연령대  이용_비율(%)
0  영화관  2016  6  1  수  20대   0.00113
1  영화관  2016  6  1  수  30대   0.00068
2  영화관  2016  6  1  수  50대   0.00056
3  영화관  2016  6  1  수  40대   0.00023
4  영화관  2016  6  1  수  20대   0.00045

In [14]:
pd.to_csv(df2)

AttributeError: module 'pandas' has no attribute 'to_csv'